<?xml version="1.0"?>
<model>
  <name>Large Shrub</name>
  <version>1.0</version>
  <sdf version="1.7">large_shrub.sdf</sdf>
  <author>
    <name>De Groene Gravers 2026 (Hogeschool Utrecht)</name>
  </author>
  <description>Test object: large shrub obstacle for the vision module.</description>
</model>