<?xml version="1.0"?>

<model>
    <name>Bicycle</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Allison Thackston</name>
        <email>allison@lyonthackston.com</email>
    </author>

    <description>
    An unarticulated bicycle.
    </description>

    <license>
    Software License Agreement (Creative Commons Attribution 4.0 Unported)

    Copyright 2019 Allison Thackston

    Licensed under the Creative Commons Attribution 4.0 Unported License 
    (the "License"); you may not use this file except in compliance with the
    License.  You may obtain a copy of the License at

        http://creativecommons.org/licenses/by/4.0/

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

    Attributions:

    [meshes/bicycle.obj, meshes/bicycle.mtl, materials/bike.jpg](https://sketchfab.com/3d-models/bicycle-467c6873188044ee85066fa3cea957f5) 
    by [andyvargas](https://sketchfab.com/andyvargas) is licensed as [CC BY 4.0](https://creativecommons.org/licenses/by/4.0/)
    </license>

</model>
