<?xml version="1.0" ?>
<model>
    <name>standing_person</name>
    <version>1.0</version>
    <sdf version="1.10">model.sdf</sdf>

    <author>
        <name>Team de Blussers</name>
    </author>
    <description>
        A static standing person model built from primitives, detectable by LiDAR.
        Height: ~1.77m. Composed of head, neck, torso, arms, legs and feet.
    </description>
</model>
