<?xml version="1.0"?>
<model>
  <name>De Groene Gravers Excavator</name>
  <version>1.0</version>
  <sdf version="1.7">greendigger.sdf</sdf>
  <author>
    <name>De Groene Gravers 2026 (Hogeschool Utrecht)</name>
  </author>
  <description>Robot excavator model for De Groene Gravers 2026 project at Hogeschool Utrecht (HU).</description>
</model>